@import "reset";

html {
  background-color: lightgray;
}

body {
  margin: 1em;
  font-family: 'Roboto', 'DejaVu Serif Bold', Tahoma, Geneva, sans-serif;
  font-size: 13pt;
}

ul {
  list-style-type: square;
  padding-left: 2px;
  list-style-position: inside;
}

h1 {
  font-weight: bold;
  font-family: 'Overpass';
  font-size: 32pt;
}

h2 {
  font-weight: bold;
  font-family: 'Overpass';
  font-size: 22pt;
}

h3 {
  font-weight: bold;
  font-family: 'Overpass';
  font-size: 15pt;
  margin: 2pt;
}

p {
  margin-bottom: 12pt;
  word-wrap: break-word;
  line-height: 120%;
}


.a4-paper {
  height: 297mm;

  width: 210mm;
  padding: 7mm;
}

.paper {
  box-shadow: 2mm 4mm 1mm gray;  /* TODO: media query, and not for @page */
  margin: auto;
  background-color: white;
}

#page-content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(5, 1fr);
  grid-gap: 12pt;
  grid-template-areas: 
    "head head head"
    "skl pro pro"
    "skl pro pro"
    "skl pro pro"
    "exp pro pro"
    "exp edu edu";
}

#header {
  grid-area: head;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0pt;
  padding-bottom: 12pt;
}

#header-title {
  #name-title {
    font-variant: small-caps;
    font-size: 45pt;
    margin-top: 0;
    // margin-bottom: 0pt;
  }
  #name-subtitle {
    margin: 0;
    font-size: 18pt;
    font-family: 'Roboto'
  }
  flex-grow: 1;
}

#contact-details {
  margin: auto;
  font-size: 15pt;
}

#contact-details-content {
  display: inline-block;
  box-sizing: border-box;
  top: 50%;
  
  .contact-item {
    display: table;
    padding-bottom: 3pt;
    
    .item-title {
      font-weight: bold;
      width: 60pt;
      text-align: right;
      padding-right: 5pt;
    }
    
    .item-value {
      display: table-cell;
      text-align: right;
    }
  }
}

section {
  .section-title {
    margin-top: 0;
    margin-bottom: 5pt;
  }
  background-color: lightgoldenrodyellow;
}

section {
  h2.title::before {
      content: " ";
      height: 5pt;
      width: 100%;
      background-color: black;
      display: block;
      margin-bottom: 3pt;
    }

  h2.title {
    margin-top: 0pt;
    margin-bottom: 7pt;
    text-transform: uppercase;
  }
}


section#skills {
  grid-area: skl;

  h3 {
    margin: 0;
    padding: 0;
  }

  p {
    margin-top: 0;
  }
}

section#projects {
  #projects-title {
    display: inline-block;
    grid-column: 1 / -1;
  }

  .project {
    margin-bottom: 15px;
    h3.title {
      margin: 0;
      margin-bottom: 3pt;
    }
    p.description {
      margin: 0;
      word-wrap: break-word;
    }
  }

  ul {
    margin-top: 2pt;
    margin-bottom: 2pt;
  }
  
  grid-area: pro;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto repeat(3, 1fr);
  grid-column-gap: 10pt;
}

// Fill space used by education block
// section#projects::after {
  // content: "";
  // grid-column: 1;
  // grid-row: 5;
// }

section#interests {
  display: none;
  grid-area: int;
  z-index: 1;
}

section#education {
  grid-area: edu;

  h3,h4,h5 {
    margin: 0;
    padding: 0;
  }
}

section#experience {
  grid-area: exp;
  .placements {
    display: flex;
    flex-direction: column;
  }
  .placement {
    h3, h4, h5 {
      margin: 0;
      padding: 0;
    }
    margin-right: 5pt;
  }
  ul {
    margin-top: 5px;
  }
}