@import "reset";

html {
  background-color: lightgray;
}

body {
  margin: 1em;
  font-family: 'Roboto', 'DejaVu Serif Bold', Tahoma, Geneva, sans-serif;
  // font-size: 13pt;
}

ul {
  list-style-type: square;
  padding-left: 2px;
  list-style-position: outside;
  margin-left: 12pt;
  // margin-bottom: 2pt;
  margin-bottom: 2pt;
  margin-top: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: lighten($color: black, $amount: 10%);
  text-decoration: underline;
}

h1 {
  font-weight: bold;
  font-family: 'Overpass';
  font-size: 32pt;
}

h2 {
  font-weight: bold;
  font-family: 'Overpass';
  font-size: 22pt;
}

h3 {
  font-weight: bold;
  font-family: 'Overpass';
  font-size: 15pt;
  margin: 2pt;
  margin-left: 0;
}

h4 {
  font-size: 14pt;
}

p {
  margin-bottom: 5pt;
  word-wrap: break-word;
  line-height: 120%;
}

.a4-paper {
  height: 297mm;

  width: 210mm;
  padding: 7mm;
}

.paper {
  box-shadow: 2mm 4mm 1mm gray;  /* TODO: media query, and not for @page */
  margin: auto;
  background-color: white;
}

#page-content {
  height: 100%;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  grid-template-rows: auto repeat(5, 1fr);
  grid-gap: 12pt;
  grid-template-areas: 
    "head head head"
    "pro skl skl"
    "pro skl skl"
    "pro skl skl"
    "exp skl skl"
    "exp edu edu";
    // "skl edu edu"
    // "skl pro pro"
    // "skl pro pro"
    // "exp pro pro"
    // "exp pro pro";
}

header {
  grid-area: head;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0pt;
}

#header-title {
  #name-title {
    // font-variant: small-caps;
    // text-transform: uppercase;
    font-size: 45pt;
    margin-top: 0;
    // margin-bottom: 0pt;
  }
  #name-subtitle {
    margin: 0;
    font-size: 18pt;
    font-family: 'Roboto'
  }
  flex-grow: 1;
}

#contact-details {
  margin: auto;
  font-size: 15pt;
}

#contact-details-content {
  display: inline-block;
  box-sizing: border-box;
  top: 50%;
  
  .contact-item {
    display: table;
    padding-bottom: 3pt;

    i {
      padding-right: 5pt;
    }
    
    .item-title {
      font-weight: bold;
      width: 60pt;
      text-align: right;
      padding-right: 5pt;
      display: none;
    }
    
    .item-value {
      display: table-cell;
      text-align: right;
    }
  }
}

section {
  .title {
    margin-top: 3pt;
    margin-bottom: 3pt;
  }
  background-color: whitesmoke;
  padding-left: 3pt;
}

section {
  h2.title::before {
      content: " ";
      height: 5pt;
      width: auto;
      background-color: black;
      display: block;
      margin-bottom: 5pt;
      margin-left: -3pt;  // Undo padding of section
      margin-top: -4px;
    }

  h2.title {
    margin-bottom: 7pt;
    text-transform: uppercase;
  }
}


section#skills {
  grid-area: skl;
  .skill {
    margin-bottom: 12pt;
  }
}

section#projects {
  grid-area: pro;

  .project {
    margin-bottom: 15px;
  }
}

section#education {
  grid-area: edu;
}

section#experience {
  grid-area: exp;
  .placements {
    display: flex;
    flex-direction: column;
  }
  .placement {
    margin-bottom: 2em;
  }
  ul {
    margin-top: 5px;
  }
}